@tailwind base;
@tailwind components;
@tailwind utilities;



/* Wise1text Styles */

.wise1text h2:first-child, .wise1text p:first-child {
  margin-top: 0;

}

.wise1text blockquote {
  @apply border-l-4 border-l-sky-700 my-6 px-4 ml-6;
}

.wise1text blockquote > p {
  @apply text-sky-600;
  @apply dark:text-orange-200;
}

.wise1text img {
  @apply mx-auto;
}

.gallery > img {
  @apply shadow-md;
}

.wise1text h1 { font-size: 2rem; @apply font-bold; @apply dark:text-white; }

.wise1text h2 { font-size: 1.6rem; @apply font-bold; @apply dark:text-white;}

.wise1text h3 { font-size: 1.3rem; @apply font-bold; @apply dark:text-white;}

.wise1text h4 { font-size: 1.0rem; @apply font-bold; @apply dark:text-white; }
.wise1text h5 { font-size: 0.8rem; @apply font-bold; @apply dark:text-white; }
.wise1text h6 { font-size: 1rem; @apply font-bold;  @apply dark:text-white;}

.wise1text h2, .wise1text h3, .wise1text h4 {
  @apply mt-6;
  @apply mb-2;
}

.wise1text p {
  @apply mt-4;
  @apply mb-4;
  @apply text-gray-700;
  @apply dark:text-white;

}

.wise1text strong {
  @apply font-bold;
  @apply text-gray-800;
  @apply dark:text-gray-400;
}

.wise1text u {
  text-decoration: none;
  border-bottom: 2px solid;
  @apply border-b-indigo-300;
}

a { @apply hover:text-lime-800; @apply dark:hover:text-lime-500; }

.wise1text a:link, .wise1text a:visited { @apply text-lime-700; @apply underline; @apply italic; @apply hover:text-lime-500; }

/* Force the anchor tags within wise1text to not be red */

.wise1text h2 > a:link, .wise1text h2 > a:visited { @apply text-gray-900; @apply not-italic; @apply no-underline; @apply hover:text-gray-900; @apply font-bold; @apply dark:text-slate-400;}
.wise1text h3 > a:link, .wise1text h3 > a:visited { @apply text-gray-600; @apply not-italic; @apply no-underline; @apply hover:text-gray-900; @apply font-bold; @apply dark:text-slate-400;}
.wise1text h4 > a:link, .wise1text h4 > a:visited { @apply text-gray-900; @apply not-italic; @apply no-underline; @apply hover:text-gray-900; @apply font-bold; @apply dark:text-slate-400;}

.wise1text ol {
  @apply my-2;
  list-style-type: decimal;
  list-style-position: inside;
  @apply text-sky-700;
  @apply dark:text-gray-400;
  text-indent: -20px; /* This and line below prevent wrapping of text */
  margin-left: 20px; 
}

.wise1text ol li::marker { @apply text-orange-400; }

.wise1text ul {
  @apply my-4;
  list-style-type: square;
  list-style-position: inside;
  @apply text-sky-700;
  @apply dark:text-gray-400;
  text-indent: -20px; /* This and line below prevent wrapping of text */
  margin-left: 20px; 
}

.wise1text ul li::marker { @apply text-sky-700;}

.wise1text li { @apply pb-2; }

.wise1text table {
  margin: 25px auto;
  width: 100%;
}

.wise1text table, th, td {
  border: 1px solid lightgray;
  @apply dark:border-gray-600;
  @apply dark:text-gray-300;
}

.wise1text table, th, td {
  padding: 5px 10px;
}

.wise1text th {
  @apply bg-gray-500;
  @apply bg-slate-500;
  @apply text-white;
  text-align: left;
}


 /* Timeline */
    
    
 .timline-outer {
    position: relative;
  }
  
  .timeline-outer::after {
    content: '';
    position: absolute;
    width: 1px;
    @apply bg-gray-800;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -10px;
    @apply bg-red-300;
    @apply border border-gray-800;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
  }
  
  
  .timeline-left {
    left: 0;
  }
  
  .timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid gray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent grey;
  }
  
  
  .timeline-right {
    left: 50%;
  }
  
  .timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid gray;
    border-width: 10px 10px 10px 0;
    border-color: transparent grey transparent transparent;
  }
  
  
  .timeline-right::after {
    left: -15px;
  }
  
  
  .timeline-content {
    padding: 20px 30px;
    position: relative;
    border: 1px solid gray;
    border-radius: 6px;
  }
  
  .timeline-date-right {
    position: absolute;
    width: 200px;
    top: 10%;
    left: 115%;
    font-weight: bold;
  }
  
  .timeline-date-left {
    position: absolute;
    width: 200px;
    top: 10%;
    right: 98%;
    font-weight: bold;
  }
  
  /* End Timeline */


/* This is to ensure the mobile menu is properly hidden and does not flash appear on desktop. */

@media (min-width: 768px) {
  #mobileMenu {
    display: none !important;
  }
}
